
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Medium.ttf");
}

html {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 22px;
}

.x2-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;

  }

  .left-column-content {
    padding-right: 5%;
  }

  .right-column-content {
    padding-left: 5%;
  }

  .column-align-start {
    align-self: center;
    justify-self: start;
  } 

  .column-align-end {
    align-self: center;
    justify-self: end;
  }

  .column-align-center {
    align-self: center;
    justify-self: center;
  }

  .screenshot {
    height: 680px;
  }